@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: var(--cinza-escuro);
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

:root {
  --cinza-branco: #f7f7f7;
  --cinza-escuro: #c6c6c6;
  --vermelho: #ee2211;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p, h1, h2, h3 {
  margin: 0px;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#menu a {
  padding: 15px 30px;
  background-color: var(--cinza-branco);
  border-radius: 8px;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background-color: var(--cinza-branco);
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  justify-items: end;
  gap: 20px;
}

.introducao a {
  background-color: var(--vermelho);
  padding: 15px 30px;
  display: inline-block;
  border-radius: 8px;
  color: #f7f7f7;
  text-transform: uppercase;
}

.detalhe {
  background-color: var(--vermelho);
  height: 4px;
  width: 60px;
  position: absolute;
  top: 30px;
  right: -30px;
  display: inline-block;
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  text-align: right;
  align-self: center;
  padding: 40px;
}

.vantagens {
  background-color: var(--cinza-branco);
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  row-gap: 0px;
  /* 
  OU 
  gap: row > gap;
  gap: 10px 20px;
  ; */
  padding: 20px;
}

.vantagens-item p {
  grid-column: 2 / 3;
}

footer {
  background-color:  var(--cinza-branco);
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}
