@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --cinza: #e9e9e9;
  --branco: #F7F7F7;
  --vermelho: #EE2211;
}

body {
  background-color: var(--cinza);
}

#cabecalho-site {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

#cabecalho-site > img {
  margin: auto;
  display: block;
  margin-bottom: 40px;
}

#cabecalho-site > nav > ul#menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#cabecalho-site > nav > ul#menu > li {
  display: inline-block;
}

#cabecalho-site > nav > ul#menu > li > a {
  background-color: var(--branco);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: 4px solid transparent;
  font-weight: bold;
  font-size: 1rem;
  margin: 10px;
  transition: 0.3s;
}

#cabecalho-site > nav > ul#menu > li > a:hover {
  background-color: black;
  color: white;
  border-color:  var(--vermelho);
}

main {
  margin: auto;
  margin-bottom: 60px;
  max-width: 1000px;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
}

.texto-intodutorio {
  background-color: var(--branco);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: right;
  align-items: end;
  justify-content: center;
  position: relative;
}

.texto-intodutorio::before {
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--vermelho);
  position: absolute;
  top: 30px;
  right: -30px;
}

.texto-intodutorio > h1 {
  font-size: 2rem;
}

.texto-intodutorio > p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
}

.texto-intodutorio > .botao {
  text-decoration: none;
  color: var(--branco);
  background-color: var(--vermelho);
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border-radius: 8px;
  transition: 0.3s;
}

.texto-intodutorio > .botao:hover {
  color: var(--branco);
  background-color: #990000;
}

.imagem {
  background-color: red;
}

.imagem > img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.imagem-subtitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(05-css-propriedades/05-css-propriedades/0506-refatorar-exercicio/web-final/img/onda.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: repeat-y;
}

.subtitulo {
  text-transform: uppercase;
  font-size: 4rem;
  text-align: right;
  align-self: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 40px;
}

.vantagem {
  background-color: var(--branco);
  padding: 60px 60px 40px 60px;
}

.vantagem {
  list-style-type: none;
}

.vantagem-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3px 20px;
  margin-bottom: 20px;
  padding: 1.25rem;
  transition: 0.3s;
  border-radius: 8px;
  max-width: 100%;
}

.vantagem-item:nth-child(odd) {
  background-color: #C6C6C6; 
  border-radius: 8px;
}

.vantagem-item > p {
  grid-column: 2 / 3;
  font-size: 1.25rem;
}

.vantagem-item:hover {
  border-left: 10px solid var(--vermelho);
}

#rodape-site {
  width: 100%;
  background-color: var(--branco);
  font-size: 1.25rem;
  text-align: center;
  padding: 2.5rem;
}
@media screen and (max-width: 1000px) {
  .conteudo2 {
  grid-template-columns: 1fr;
  }

  .subtitulo {
    font-size: 3.3rem;
    padding: 40px;
  }
}

@media screen and (max-width: 700px) {

  p {
    font-size: 16px;
  }

  .conteudo {
    grid-template-columns: 1fr;
  }

  .texto-intodutorio {
    text-align: left;
    align-items: start;
  }

  .texto-intodutorio::before {
    display: none;
  }

  .subtitulo {
    padding: 50px;
    font-size: 2.3rem;
    text-align: center;
  }
}

@media screen and (max-width: 420px) {

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .conteudo {
    grid-template-columns: 1fr;
    /* display: flex;
    flex-direction: column; */
    gap: 30px;
  }
  
  .vantagem {
    padding: 40px 40px 30px 40px;
    gap: 30px;
  }

  .imagem {
    margin-bottom: 30px;
  }

  .subtitulo {
    font-size: 2rem;
    padding: 30px; 
  }
}

@media screen and (max-width: 270px) {
  .subtitulo {
    font-size: 1rem;
  }
}